<script type="text/html" id="model7">
    <div class="row wrapper">
        <div class="footer-nav">
            <a rel="nofollow" href="#">首页</a> |
            <a rel="nofollow" href="#">关于米折</a> |
            <a rel="nofollow" href="#">媒体报道</a> |
            <a rel="nofollow" href="#">人才招聘</a> |
            <a rel="nofollow" href="#">联系我们</a> |
            <a rel="nofollow" href="#">友情链接</a> |
            <a rel="nofollow" href="#">商务合作</a> |
            <a rel="nofollow" href="#">帮助中心</a> |
            <a rel="nofollow" href="#">联系客服</a> |
            <a href="#">手机客户端</a>
        </div>
        <div class="cert">
            <a href="#"><img src="http://s0.husor.cn/image//icons/cyzone100.png"></a>
            <a href="#"><img src="http://s0.husor.cn/image/icons/ec2012.png"></a>
            <a href="#"><img src="http://rr.knet.cn/static/images/logo/cnnic.png"></a>
            <a href="#"><img src="http://s0.husor.cn/image/icons/cxwz.png"></a>
            <a href="#"><img src="http://s0.husor.cn/image/icons/hzgs.png"></a>
        </div>
        <div class="copyright">
            © 2011-2018 米折网 - 
            <a href="#" class="outer-url" >杭州互秀电子商务有限公司</a>
            <a href="#">旗下网站</a> - 
            <a href="#" class="outer-url">浙ICP备12005806</a>
        </div>
    </div>
</script>